@model stapolizeiuster_carmanager.Models.Planning

@{
    ViewBag.Title = "Planung löschen";
}

<h2>Delete</h2>

<h3>@Resource.Functions.confirm_delete</h3>
<div>
    <h4>Planning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fahrzeug
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Description) - @Html.DisplayFor(model => model.Car.Radio)
        </dd>
        <dt>
           Status
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.State.Name)
        </dd>
        <dt>
            Startzeit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            Endzeit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
