@using stapolizeiuster_carmanager.Controllers
@model stapolizeiuster_carmanager.Models.Planning

@{
    ViewBag.Title = "Planung bearbeiten";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, "Startdatum", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <p class="form-control-static">
                    @Model.StartTime.ToString("d")
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                </p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, "Enddatum", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <p class="form-control-static">
                    @Model.EndTime.ToString("d")
                    @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                </p>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Car, "Fahrzeug", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Car.Id, PlanningsController.FillCarsDropDown(Model.StartTime, Model.EndTime, Model.Car), new {@class = "form-control col-md-2", required = "required"})
                @Html.ValidationMessageFor(model => model.Car, "", new {@class = "text-danger"})
            </div>
        </div>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.State, "Status", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State.Id, PlanningsController.FillStatesDropDown(), new {@class = "form-control col-md-2", required = "required"})
                @Html.ValidationMessageFor(model => model.Car, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}