<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stadtpolizei Uster Carmanager</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/sweetalert2.min.css")
    @Styles.Render("~/Content/toastr.css")
    @Styles.Render("~/Content/app.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/stadtuster.png" alt="logo" class="nav-logo">
            </div>
            <div id="navbar1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                                            
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    { 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stammdaten <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Fahrzeuge", "Index", "Cars")</li>
                            <li>@Html.ActionLink("Status", "Index", "States")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Planung", "Index", "Plannings")</li>
                    <li>@Html.ActionLink("Statistiken", "Index", "Statistics")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">                                                      
                   <li class="text-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/Home/Logout">Logout</a></li>                              
                            </ul>
                          </li>                            
                        }
                        else
                        {
                            <li><a href="#" onclick="lock.show();"><b><i class="fa fa-sign-in" aria-hidden="true"></i> Login</b></a></li>
                        }
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stadtpolizei Uster</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/moment-with-locales.min.js")
    @Scripts.Render("/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("/Scripts/sweetalert2.min.js")
    @Scripts.Render("/Scripts/toastr.min.js")
    @Scripts.Render("/Scripts/messageHelper.js")
    @Scripts.Render("/Scripts/onInputChangeHelper.js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'de'
            });
            $("#datetimepicker1").datetimepicker("setDate", Date.now().toString());
            console.log(Date.now().toString());
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
        });
        $(function () {
            $('#datetimepicker2').datetimepicker({
                locale: 'de',
                useCurrent: true,
                defaultDate: new Date().toString("dd.MM.yyyy")
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
        });

        $(function () {
            $('#datetimepicker3').datetimepicker({
                locale: 'de'

            });
            $("#datetimepicker3").on("dp.change", function (e) {
                $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
            });
        });
        $(function () {
            $('#datetimepicker4').datetimepicker({
                locale: 'de',
                useCurrent: true,
                defaultDate: new Date().toString("dd.MM.yyyy")
            });
            $("#datetimepicker4").on("dp.change", function (e) {
                $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
            });
        });

    </script>
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script>
  var lock = new Auth0Lock('Z3aZNItzApjz26Rj6iVGELOdQUS9qMkw', 'luca-marti.eu.auth0.com', {
    auth: {
        redirectUrl: 'http://stapou-car.azurewebsites.net/LoginCallback.ashx',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
    </script>
</body>
</html>
