@model IEnumerable<stapolizeiuster_carmanager.Models.Statistic>

@{
    ViewBag.Title = "Statistiken";
}

<h2>@ViewBag.Title</h2>
<p>
    <a href="@Url.Action("Create", "Statistics")">
        <i class="fa fa-plus" aria-hidden="true"></i> Statistik erstellen
    </a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Fahrzeug
            </th>
            <th>
                Datum von
            </th>
            <th>
                Datum bis
            </th>
            <th>
                Erstellungsdatum
            </th>
            <th>
                Ersteller
            </th>
            <th class="text-right">Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-tr">
                    <a href="@Url.Action("Details", "Statistics", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.Car.Description) - @Html.DisplayFor(modelItem => item.Car.Radio)
                    </a>
                </td>
                <td class="table-tr">
                    <a href="@Url.Action("Details", "Statistics", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </a>
                </td>
                <td class="table-tr">
                    <a href="@Url.Action("Details", "Statistics", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </a>
                </td>
                <td class="table-tr">
                    <a href="@Url.Action("Details", "Statistics", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </a>
                </td>
                <td class="table-tr">
                    <a href="@Url.Action("Details", "Statistics", new {id = item.Id})">
                        @Html.DisplayFor(modelItem => item.Creator)
                    </a>
                </td>
                <td class="text-right table-action-links">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        @if (@Model.Count() <= 0)
        {
            <tr>
                <td colspan="2"><strong>Keine Daten vorhanden.</strong></td>
            </tr>
        }
    </tbody>
</table>
