@model stapolizeiuster_carmanager.Models.Car

@{
    ViewBag.Title = "Fahrzeug löschen";
}

<h2>@ViewBag.Title</h2>

<h3>@Resource.Functions.confirm_delete</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Beschreibung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Funk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
