@model IEnumerable<stapolizeiuster_carmanager.Models.Car>

@{
    ViewBag.Title = "Fahrzueg Übersicht";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "Cars")">
        <i class="fa fa-plus" aria-hidden="true"></i> Fahrzeug hinzufügen
    </a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Beschreibung
            </th>
            <th>
                Funk
            </th>
            <th class="text-right">Aktionen</th>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="table-tr">
                    <a href="@Url.Action("Edit", "Cars", new { id = item.Id })">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td class="table-tr">
                    <a href="@Url.Action("Edit", "Cars", new { id = item.Id })">
                        @Html.DisplayFor(modelItem => item.Radio)
                    </a>
                </td>
                <td class="text-right table-action-links">
                    <a href="@Url.Action("Edit", "Cars", new { id = item.Id })">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a> |
                    <a href="@Url.Action("Edit", "Cars", new { id = item.Id })">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
