@model IEnumerable<stapolizeiuster_carmanager.Models.Planning>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                @item.Car.Description - @item.Car.Radio
            </div>
            <div class="card-block">
                <h4 class="card-title">@item.State.Name</h4>
                <p class="card-text">@item.StartTime - @item.EndTime</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>